<div class="container">
  <br><br><br>
    <div class="row">
        <div class="col-7" style="font-family:'ZCOOL QingKe HuangYou', cursive; font-size: 40px; color: white; text-align: center;" >
            <br><br><span>Welcome</span>
        </div>
        <div class="col-5">
          <div class="card" style="padding-bottom: 1%; background-color: rgba(255, 255, 255, 0.493);">
            <div class="card-body">
      
              <label for="username"><b>Username</b></label>
              <input type="text" name="username" id="username" class="form-control" [(ngModel)]="userName">
      
              <label for="password"><b>Password</b></label>
              <input type="password" name="password" id="password" class="form-control" [(ngModel)]="password">
              <br>
              <div>
                  <button class="btn btn-info" (click)="onLogin()">Login</button>
              </div>
              <div class="alert alert-danger" style="margin-top: 5%;" [hidden]="!_IsInvalid">Incorrect username or password</div>      
            </div>
          </div>
        </div>
      </div>
</div>